:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin: 60px auto;
    max-width: 800px;
  }
  
  @media (max-width:300px){
    container-fluid a{
    float: none;
    width: 100%;}
  }

  @media(max-width: 600px){
  #images {
    display: none;
  }

  }
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    font-size: 20px;
    font-family: monospace;
    padding-bottom: 1em;
  }
  
  h2 {
    font-size: 45px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
    padding-bottom: 1em;
  }
  h5{  
    text-align: center;
    padding-left: 0.8em;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  p {
    background: var(--secondary-color);
    padding-top: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  button {
    background-color: var(--primary-color);
    margin: 10px;
    color: white;
    border-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px 6px;
    padding-left: 15px;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: gray;
    color: white;
    border-color: black;
  }
   #about-me {
    padding-top: 0.3em;
    font-size: 70px;
  }
  .navbar {
    overflow: hidden;
  }
  
  
  .navbar-brand {
    font-size: 15px;
  }
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 18px;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .nav-link {
    color: black;
  }
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  #yoga-app {
    font-size: 20px;
    background: var(--secondary-color);
    text-align: center;
    margin: 0;
    font-size: 30px;
  }
  
  #weather-app {
    font-size: 20px;
    background: var(--secondary-color);
    text-align: center;
    margin: 0;
    font-size: 30px;
  }
  
  #yogurt-app {
    font-size: 20px;
    background: var(--secondary-color);
    text-align: center;
    margin: 0;
    font-size: 30px;
  }
  